block append vars
  - articles = env.helpers.getArticles(contents);

section.main__content
  h2 Case Studies
  p Overview of some of my recent work

  ul.project-tiles.project-tiles--case-studies
    each article in articles
      if article.metadata.casestudy == true
        li.project-tiles__item
          a(href=article.url).project
            div.project__content
              h2.project__title(class='project__title--' + article.metadata.bodyclass)= article.title
              h5 View case study&nbsp;
                svg.icon.icon--arrow-right(role='img', aria-labelledby='title')
                  title Arrow right icon
                  use(xlink:href='#icon--arrow-right')
            picture
              source(srcset='/images' + article.url + article.metadata.bodyclass + '--thumb.jpg 1x, ' + '/images' + article.url + article.metadata.bodyclass + '--thumb@2x.jpg 2x', media='(min-width: 840px)')
              source(srcset='/images' + article.url + article.metadata.bodyclass + '--thumb-sm.jpg 1x, ' + '/images' + article.url + article.metadata.bodyclass + '--thumb-sm@2x.jpg 2x')
              img.project__image(srcset='/images' + article.url + article.metadata.bodyclass + '--thumb.jpg', alt=article.title)
                
section.main__content
  h2 Other Projects
  p Some of this is older work I'd like to revisit and give a bit of a refresh—I've included it as it shows my depth of experience.

  ul.project-tiles.project-tiles--grid
    each article in articles
      if article.metadata.olderwork == true
        li.project-tiles__item
          a(href=article.url).project
            div.project__content
              h2.project__title(class='project__title--' + article.metadata.bodyclass)= article.title
              h5 View project&nbsp;
                svg.icon.icon--arrow-right(role='img', aria-labelledby='title')
                  title Arrow right icon
                  use(xlink:href='#icon--arrow-right')
            picture
              source(srcset='/images' + article.url + article.metadata.bodyclass + '--thumb.jpg 1x, ' + '/images' + article.url + article.metadata.bodyclass + '--thumb@2x.jpg 2x', media='(min-width: 840px)')
              source(srcset='/images' + article.url + article.metadata.bodyclass + '--thumb-sm.jpg 1x, ' + '/images' + article.url + article.metadata.bodyclass + '--thumb-sm@2x.jpg 2x')
              img.project__image(srcset='/images' + article.url + article.metadata.bodyclass + '--thumb.jpg', alt=article.title)